# Copy to samconfig.toml and adjust for your AWS account.
version = 0.1

[default.deploy.parameters]
stack_name = "url-shortener"
resolve_s3 = true
capabilities = "CAPABILITY_IAM"
region = "ap-south-1"
parameter_overrides = "HttpApiId=dsqeedu5n5 HttpApiStage=prod ShortUrlBase=https://dsqeedu5n5.execute-api.ap-south-1.amazonaws.com/prod"
