# Copy to samconfig.toml and adjust for your AWS account.
version = 0.1

[default.deploy.parameters]
stack_name = "url-shortener"
resolve_s3 = true
capabilities = "CAPABILITY_IAM"
region = "ap-south-1"
parameter_overrides = "ShortUrlBase=https://REPLACE_AFTER_DEPLOY"
